node_modules/
.env
.env.*
env/
playwright-report/
test-results/
allure-results/
allure-report/
.DS_Store
coverage/
.npm/
.vite/
logs/
*.log
README.md
node_modules
allure-results
allure-report
test-results
pw-browsers

node_modules
allure-results
allure-report
test-results
pw-browsers
